footer.main-footer.container-fluid.px-3
    .row.main-footer__inner 
        .col-9 
            ul.main-footer__list.list-inline(role="list")
                li.list-inline-item(role="listitem") 
                    a(href="#", title="Accessibilità", target="_blank") Accessibilità 
                li.list-inline-item(role="listitem", aria-hidden="true") &middot;
                li.list-inline-item(role="listitem")
                    a(href="https://www.pagopa.gov.it/it/helpdesk/", title="Aiuto", target="_blank") Aiuto 
        .col-3.d-flex.align-items-center
            a.ml-auto(href="https://www.pagopa.it", title="PagoPA S.p.A.", target="_blank")
                svg(width="60", height="17")
                    title PagoPA S.p.A.
                    use(href="/assets/icons/app.svg#pagopa-spa-logo")
div.main-footer-trick(aria-hidden="true") &nbsp;
.paymentdash(id="paymentdash")
    .paymentdash__mask &nbsp;
    .paymentdash__content
        .paymentdash__head
            span Avviso di pagamento
            svg.float-right.icon-expand.icon.icon-secondary
                use(href="/assets/icons/sprite.svg#it-close")
        .paymentdash__row
            .paymentdash__label Ente Creditore
            .paymentdash__value(data-sessiondata="enteBeneficiario") 
            .paymentdash__bottomborder 
        .paymentdash__row
            .paymentdash__label Causale
            .paymentdash__value.text-break(data-sessiondata="subject") 
            .paymentdash__bottomborder 
        .paymentdash__row.d-flex
            .paymentdash__value Importo aggiornato
            .paymentdash__sum.ml-auto(data-sessiondata="importo") 
        .paymentdash__desc Il sistema pagoPA aggiorna automaticamente l’importo per assicurarti di aver pagato esattamente quanto dovuto ed evitarti così more o altri interessi.
.loader.flex-column.justify-content-center.align-items-center
    .progress-spinner.progress-spinner-double.progress-spinner-active
        .progress-spinner-inner
        .progress-spinner-inner
        .sr-only Caricamento...
include modal/multiplepayment.pug
include errorhandler.pug
include noscript.pug