header.position-fixed.header.bg-white.shadow.py-3.py-md-2.px-4.d-flex
    .header__sx.d-flex
        .logo-pagopa.d-flex.align-items-center.mr-2.mr-md-4
            svg(width="56", height="36")
                title Logo pagoPA
                use(href="/assets/icons/app.svg#pagopa-logo")
        .logo-institution.d-flex.align-items-center.mr-2
            svg(width="46", height="48")
                title Logo Ente
                use(href="/assets/icons/app.svg#institutions-milano")
    .topbar.d-flex.flex-fill.flex-md-column.align-items-center.justify-content-end.justify-content-md-center.mr-2
        .topbar__name.text-center.d-none.d-md-inline-flex(data-sessiondata="enteBeneficiario")
        .topbar__obj__wrapper.position-relative.order-2.order-md-1
            .topbar__obj.text-center.font-weight-bold.my-1.d-none.d-md-inline-flex(data-sessiondata="subject")
            svg.icon.icon-sm.icon-primary.ml-2.ml-md-1.cursor-pointer(id="openMultiplePaymentWindow")
                title= "Info"
                use(href="/assets/icons/sprite.svg#it-info-circle")
        .topbar__amount.font-weight-bold.order-1.order-md-2(data-sessiondata="importo")
    .header__dx.d-flex
        .header__dx__info.align-items-center.d-flex.d-md-none
            a.btn-dropdown(href="#",role="button",data-target="paymentdash", aria-expanded="false")
                svg.icon.icon-primary
                    use(href="/assets/icons/sprite.svg#it-info-circle")
