title Checkout - pagoPA
link(href="scss/style.scss",rel="stylesheet")
script(src="../node_modules/promise-polyfill/dist/polyfill.min.js")
script(src="../node_modules/whatwg-fetch/dist/fetch.umd.js")
script(src="../node_modules/abort-controller/dist/abort-controller.umd.js")
script(src="env-config.js")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(version=version)