noscript
    style(type="text/css").
        .main {
            display: none
        }
    .noscript.container.mt-5
        .row.justify-content-md-center.py-5
            .noscript__wrapper.col-md-6
                .noscript__image
                    img.mx-auto.d-block.my-4(src="/assets/icons/response-ko.svg")
                .noscript__body
                    h3.my-4.text-center Per continuare, abilita JavaScript sul browser
                    p.text-center Quando hai fatto, torna su questa pagina per continuare con il pagamento.
                    p.text-center
                        a(href="https://www.enable-javascript.com/it/", title="Abilitare Javascript sul browser", _target="blank") Come faccio ad abilitare Javascript sul mio browser?
                    p.text-center
                        a.btn.btn-primary(href=".", title="Ho abilitato Javascript") Ho abilitato Javascript