doctype html
html(lang='it')
    head
        title FAKE PAGE 
        script(src="../../../node_modules/promise-polyfill/dist/polyfill.min.js")
        script(src="../../../node_modules/whatwg-fetch/dist/fetch.umd.js")
        script(src="../../../node_modules/abort-controller/dist/abort-controller.umd.js")
        script(src="index.ts")
    body
        