.modalwindow(id="modal-checkcancel")
    .d-flex
        h4.modalwindow__title Annulla il pagamento
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Sei sicuro di voler annullare ipsum dolor sit amet, consectetur adipiscing elit. In varius leo leo, sed hendrerit neque ullamcorper at.