.modalwindow(id="modal-checkcancel")
    .d-flex
        h4.modalwindow__title Uscire dal pagamento in corso?
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Tutti i dati inseriti andranno persi.