.modalwindow(id="modal-checkemail")
    .d-flex
        h4.modalwindow__title Conoscete il mio indirizzo e-mail?
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Stiamo usando la stessa e-mail che hai inserito per accedere al sito dell’ente. Consulta l'informativa privacy per maggiori informazioni.