.modalwindow(id="modal-checkpaypsp")
    .d-flex
        h4.modalwindow__title Perchè la commissione?
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Paghi perchè ipsum dolor sit amet, consectetur adipiscing elit. In varius leo leo, sed hendrerit neque ullamcorper at.