.modalwindow(id="modal-checkwhypsp")
    .d-flex
        h4.modalwindow__title Perchè vedo IntesaSanPaolo?
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Perchè vedo Intesa? ipsum dolor sit amet, consectetur adipiscing elit. In varius leo leo, sed hendrerit neque ullamcorper at.