.modalwindow(id="modal-checkemail")
    .d-flex
        h4.modalwindow__title Conoscete il mio indirizzo e-mail?
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius leo leo, sed hendrerit neque ullamcorper at.