.modalwindow(id="modal-choosepspwhytransaction")
    .d-flex
        h4.modalwindow__title Perchè c'è un costo di transazione
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 Perchè ipsum dolor sit amet, consectetur adipiscing elit. In varius leo leo, sed hendrerit neque ullamcorper at.