.modalwindow(id="modal-inputcardterms")
    .d-flex(tab-index="1")
        svg.icon.ml-auto.modalwindow__close.cursor-pointer(aria-hidden="true")
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3(tab-index="2") 
        