.modalwindow(id="modal-securecode")
    .d-flex
        h4.modalwindow__title Codice di sicurezza
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3 E' un codice di sicurezza Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius leo leo, sed hendrerit neque ullamcorper at.