doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    - var cards = [{'title':'Mastercard','name':'mastercard'},{'title':'Maestro','name':'maestro'},{'title':'Visa','name':'visa'},{'title':'Visa Electron','name':'visaelectron'},{'title':'AmericanExpress','name':'amex'}];
    head
        include includes/head.pug
        meta(name="robots", content="noindex, nofollow")
        script(src="check.ts")
    body.page--check
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-md-center
                    .windowcont.px-4.px-md-0
                        form(id="checkout").mt-2.mt-md-0
                            .windowcont__totamount.d-flex.border-bottom.border-bottom-gray.py-2
                                .h3 Totale
                                .h3.ml-auto(id="check__totamount") 
                            .windowcont__paywith.d-flex.py-2.mt-2
                                .font-weight-bold Paga con:
                                a(href="inputcard.pug").text-decoration-none.font-weight-bold.ml-auto Modifica
                            .windowcont__recapcc.mt-2.mb-4
                                .windowcont__recapcc__inner.p-4.rounded.shadow.d-flex.flex-column.justify-content-between
                                    .text-monospace(id="check__creditcardnumber", aria-hidden="true") 
                                    .text-monospace.sr-only(id="check__creditcardnumber__sr") 
                                    .windowcont__recapcc__valid Valida fino al 
                                        span(id="check__creditcardexpirationdate") 
                                    .windowcont__recapcc__holder.d-flex.align-items-center
                                        .text-uppercase(id="check__creditcardname") 
                                        svg.windowcont__recapcc__circuit.card.ml-auto(height="30", width="43", id="check__creditcardholdericon")
                                            title= "Carta di credito"
                                            use(href="/assets/icons/sprite.svg#it-card", class="ccicon--custom other")
                                            each obj, index in cards
                                                use.d-none(href="/assets/icons/app.svg#icons-" + obj.name +"-mini", class="ccicon--custom " + obj.name)
                            .windowcont__paymanage.d-flex.mt-2.border-top.border-top-gray.py-3
                                .font-weight-bold Il pagamento sarà gestito da
                                svg.icon.icon-sm.icon-primary.ml-auto.cursor-pointer(data-modal="#modal-checkwhypsp", data-modal-buttons="close")
                                    title= "Info gestore"
                                    use(href="/assets/icons/sprite.svg#it-info-circle")
                            .windowcont__bank.d-flex.py-2.mt-2.align-items-center
                                div
                                    img(src="" id="check__pspbank" alt="")
                                a.font-weight-bold.text-decoration-none.ml-auto(href="choosepsp.pug",id="check__pspchoose") Modifica
                            .windowcont__comm.d-flex.py-2.mt-2.border-bottom.border-bottom-gray
                                div.text-muted Costo transazione
                                div.ml-auto.d-flex.font-weight-bold
                                    span(id="check__pspcost")
                                    svg.icon.icon-sm.icon-primary.ml-1.cursor-pointer(data-modal="#modal-choosepspwhytransaction", data-modal-buttons="close")
                                        title= "Info PSP"
                                        use(href="/assets/icons/sprite.svg#it-info-circle")
                            .windowcont__sendto.d-flex.py-2.mt-2.border-bottom.border-bottom-gray
                                div.text-muted Invio esito a
                                div.ml-auto.d-flex.font-weight-bold
                                    span(id="check__useremail") 
                            .windowcont__payattention.py-4.mt-2
                                div.small.text-center
                                    span.font-weight-bold Attenzione:&nbsp;
                                    span dopo la conferma non sarà più possibile annullare
                            .windowcont__bottom
                                .container
                                    .windowcont__bottom__wrap.d-flex
                                        a.btn.btn-outline-primary.btn-sm.mr-2(data-modal="#modal-checkcancel", data-modal-buttons="cancel,close", href="#", data-lang="cta.cancel") Annulla
                                        button.btn.btn-primary.btn-sm.flex-grow-1(type="submit", data-lang="cta.continue") Paga 
                                            span.amount(id="check__totamount__button") &nbsp;
                                    .text-center
                                        a.d-block.font-weight-bold.text-decoration-none.py-2(href="#",data-modal="#modal-checkwhypsp", data-modal-buttons="close") Perché vedo&nbsp;
                                            span(class="check__pspbankname") 
                                            span ?
                                        

                                        

            // FOOTER
            include includes/footer.pug                       
            include includes/modal/checkcancel.pug
            include includes/modal/checkwhypsp.pug
            include includes/modal/choosepspwhytransaction.pug
