doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    - var cards = [{'title':'Mastercard','name':'mastercard'},{'title':'Maestro','name':'maestro'},{'title':'Visa','name':'visa'},{'title':'Visa Electron','name':'visaelectron'},{'title':'AmericanExpress','name':'american-express'}];
    head
        include includes/head.pug
        script(src="index.ts")
    body.page--index
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-md-center
                    .windowcont.px-4.px-md-0
                        h1.h2 Inserisci la tua email
                        p.reset-font-size.text-muted Riceverai l'esito del pagamento a questo indirizzo
                        .emailform
                            form.my-5(id="emailform")
                                .form-group.mb-2.mb-md-4
                                    .input-group.mt-2.mt-md-4
                                        .input-group-prepend
                                            .input-group-text
                                                svg.icon.icon-sm
                                                    use(href="/assets/icons/sprite.svg#it-mail")
                                        label.sr-only(for="useremail", data-lang="textField.name.label") indirizzo email
                                        input.form-control(type="email", placeholder="Il tuo indirizzo email", name="useremail",  id="useremail", required)
                                        .reset-flex-flow.text-muted.mt-1.custom-label(data-lang="textField.name.label") indirizzo email
                                        .reset-flex-flow.text-muted.mt-1.custom-label--error Inserisci un indirizzo email valido
                                    
                                .windowcont__bottom
                                    .container
                                        .windowcont__bottom__wrap.d-flex
                                            button.btn.btn-primary.flex-grow-1(type="submit", data-lang="cta.continue", disabled) Continua
                                        

                                        

            // FOOTER
            include includes/footer.pug
            include includes/modal/securecode.pug