doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    - var cards = [{'title':'Mastercard','name':'mastercard'},{'title':'Maestro','name':'maestro'},{'title':'Visa','name':'visa'},{'title':'Visa Electron','name':'visaelectron'},{'title':'AmericanExpress','name':'american-express'}, {'title': 'Diners Club', 'name':'diners-club'}];
    head
        include includes/head.pug
        meta(name="robots", content="noindex, nofollow")
        script(src="inputcard.ts")
    body.page--inputcard
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-md-center
                    .windowcont.px-4.px-md-0
                        .d-flex.mt-2.mt-md-0
                            .windowcont__accepted(data-lang="text.label.acceptedCards") Circuiti accettati:
                            //-include includes/langselector.pug
                            // CARDS' LIST
                        include includes/cards.pug
                        .creditform
                            form.my-5(id="creditcardform", autocomplete="off")
                                .form-group.mb-2.mb-md-4
                                    .input-group.mt-2.mt-md-4
                                        .input-group-prepend
                                            .input-group-text
                                                svg.icon.icon-sm
                                                    use(href="/assets/icons/sprite.svg#it-user")
                                        label.sr-only(for="creditcardname", data-lang="textField.name.label") titolare carta
                                        input.form-control(type="text", placeholder="Mario Rossi", name="creditcardname",  id="creditcardname", maxlength="42", required, autocomplete="cc-name")
                                        .reset-flex-flow.text-muted.mt-1.custom-label(data-lang="textField.name.label", aria-hidden="true") titolare carta
                                        .reset-flex-flow.text-muted.mt-1.custom-label--error(id="creditcardnameError", aria-hidden="true", tabindex="-1") Inserisci come riportato sulla carta
                                    .input-group.mt-2.mt-md-4
                                        .input-group-prepend
                                            .input-group-text
                                                svg.icon.icon-sm(id="creditcardholdericon")
                                                    title= "Carta di credito"
                                                    use(href="/assets/icons/sprite.svg#it-card", class="ccicon")
                                                    each obj, index in cards
                                                        use(href="/assets/icons/app.svg#icons-" + obj.name +"-mini", class="ccicon--custom " + obj.name)

                                        label.sr-only(for="creditcardnumber", data-lang="textField.pan.label") numero carta
                                        input.form-control(type="text", placeholder="0000 0000 0000 0000", maxlength="20", name="creditcardnumber", id="creditcardnumber", required, autocomplete="cc-number")
                                        .input-group-append
                                            .input-group-text
                                                svg.icon.icon-primary.icon-sm(class="obscureToggler",data-obscuretarget="creditcardnumber")
                                                    title Mostra / Nascondi
                                                    use(href="/assets/icons/sprite.svg#it-password-invisible", class="hidecontent")
                                                    use(href="/assets/icons/sprite.svg#it-password-visible", class="showcontent")
                                        .reset-flex-flow.text-muted.mt-1.custom-label(data-lang="textField.pan.label", aria-hidden="true") numero carta
                                        .reset-flex-flow.text-muted.mt-1.custom-label--error(id="creditcardnumberError", aria-hidden="true", tabindex="-1") Inserisci un numero valido
                                    .form-row.mt-2.mt-md-4
                                        .col-6
                                            .input-group
                                                .input-group-prepend
                                                    .input-group-text
                                                        svg.icon.icon-sm
                                                            use(href="/assets/icons/sprite.svg#it-calendar")
                                                label.sr-only(for="creditcardexpirationdate", data-lang="textField.expireDate.label") scadenza
                                                input.form-control(type="text", placeholder="mm/aa", maxlength="5", name="creditcardexpirationdate", id="creditcardexpirationdate", required, autocomplete="cc-exp")
                                                .reset-flex-flow.text-muted.mt-1.custom-label(data-lang="textField.expireDate.label", aria-hidden="true") scadenza
                                                .reset-flex-flow.text-muted.mt-1.custom-label--error(id="creditcardexpirationdateError", aria-hidden="true", tabindex="-1") Inserisci mm/aa
                                        .col-6
                                            .input-group
                                                .input-group-prepend
                                                    .input-group-text
                                                        svg.icon.icon-sm
                                                            use(href="/assets/icons/sprite.svg#it-locked")
                                                label.sr-only(for="creditcardsecurcode", data-lang="textField.cvc.label") codice di sicurezza
                                                input.form-control(type="password", placeholder="123", maxlength="4", name="securcode", id="creditcardsecurcode", autocomplete="cc-csc", data-validator-size="3", required)
                                                .input-group-append
                                                    .input-group-text
                                                        svg.icon.icon-primary.icon-sm(class="obscureToggler",data-obscuretarget="creditcardsecurcode", data-obscured)
                                                            title Mostra / Nascondi
                                                            use(href="/assets/icons/sprite.svg#it-password-invisible", class="hidecontent")
                                                            use(href="/assets/icons/sprite.svg#it-password-visible", class="showcontent")
                                                .reset-flex-flow.text-muted.mt-1.custom-label(data-lang="textField.cvc.label", id="creditcardsecurcodeLabel", aria-hidden="true") codice di sicurezza
                                                .reset-flex-flow.text-muted.mt-1.custom-label--error(id="creditcardsecurcodeError", aria-hidden="true", tabindex="-1") Inserisci 3 cfre
                                .mt-4.pt-4.border-top.border-top-gray
                                    .toggles.reset-font-size
                                        label.font-weight-normal(for="privacyTogglerInput")
                                            input(name="privacypol", type="checkbox", id="privacyTogglerInput", required)
                                            span.lever.float-left.ml-0(id="privacyToggler")
                                            span(data-lang="text.label.accept", class="mr-2") Accetto la
                                            a(href="#", data-modal="#modal-inputcardterms", data-modal-buttons="close", data-modal-css="xl", data-lang="text.label.privacyPolicy") privacy policy
                                .mt-4.reset-font-size
                                    a.text-decoration-none.font-weight-normal(href="#", data-modal="#modal-securecode", data-modal-buttons="close") Dove trovo il codice di sicurezza?
                                .windowcont__bottom
                                    .container
                                        .windowcont__bottom__wrap.d-flex
                                            a.btn.btn-outline-primary.btn-sm.mr-2.js-modal-trigger(data-custom-open="modal-1", href="index.pug", data-lang="cta.cancel") Indietro
                                            button.btn-sm.btn.btn-primary.flex-grow-1(type="submit", data-lang="cta.continue", disabled) Continua
                                        

                                        

            // FOOTER
            include includes/footer.pug
            include includes/modal/securecode.pug
            include includes/modal/inputcardterms.pug