doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    head
        include includes/head.pug
        meta(name="robots", content="noindex, nofollow")
        script(src="ko.ts")
    body.page--response.footer--bottom
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-center.h-100
                    .windowcont.px-4.px-md-0
                        .windowcont__ko.d-flex.justify-content-center.py-5
                            .windowcont__ko__detail.mb-2(data-ko="1")
                                img.mx-auto.d-block.my-4(src="/assets/icons/response-umbrella.svg", alt="Icona Errore", aria-hidden="true")
                                .h3.text-center Qualcosa è andato storto
                                p.text-center.py-3 La pagina che stai cercando non esiste più
                                a.btn.btn-outline-primary.d-block(href="/") Paga un avviso

            // FOOTER
            include includes/footer.pug
