doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    head
        title WISP Light
        link(href="scss/style.scss",rel="stylesheet")
        script(src="../node_modules/promise-polyfill/dist/polyfill.min.js")
        script(src="../node_modules/whatwg-fetch/dist/fetch.umd.js")
        script(src="env-config.js")
        script(src="ko.ts")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body.page--response
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-md-center.h-100
                    .windowcont.px-4.px-md-0
                        .windowcont__ko.d-flex.align-items-center.h-100
                            .windowcont__ko__detail.mb-2(data-ko="1")
                                img.mx-auto.d-block.my-4(src="/assets/icons/unrecognized.svg")
                                .h3.text-center L'operazione è stata annullata a seguito di un identificativo di pagamento non valido

            // FOOTER
            include includes/footer.pug
