doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    - var cards = [{'title':'Mastercard','name':'mastercard'},{'title':'Maestro','name':'maestro'},{'title':'Visa','name':'visa'},{'title':'Visa Electron','name':'visaelectron'},{'title':'AmericanExpress','name':'amex'}];
    head
        title WISP Light
        link(href="scss/style.scss",rel="stylesheet")
        script(src="../node_modules/promise-polyfill/dist/polyfill.min.js")
        script(src="../node_modules/whatwg-fetch/dist/fetch.umd.js")
        script(src="check.ts")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body.page--check
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-md-center
                    .windowcont.px-4.px-md-0
                        .windowcont__response.text-center
                            img.my-4(src="/assets/icons/response-ok.svg")
                            .h3 Grazie, l'operazione è stata eseguita con successo!
                            .text-muted.my-4 Riceverai l'esito all'indirizzo
                        a(href="index.pug").btn.btn-outline-primary.d-block Continua

                                        

            // FOOTER
            include includes/footer.pug                       
